.timesheetRowTitle {
    width: 90%;
    height: 20px;
    font-weight: bold;
    float: left;
    margin-left: 5%;
}

.firstAttri {
    width: 40px;
    float: left;
}

.otherAttri {
    width: 40px;
    float: left;
    margin-left: 3.5%;
}