/* Author: Kang Wang
 * Version: 1
 * Desc: Timesheet Detail CSS
 */

/* body css */

.outerContainer {
  display: flex;
  justify-content: center;
}

.tsDetail-outerContainer {
  display: flex;
  justify-content: center;
}

.container {
  /* box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1), 0px 4px 5px 0px rgba(0,0,0,0.1), 0px 1px 10px 0px rgba(0,0,0,0.1); */
  background-color: white;
  width: 1000px;
  padding: 30px 0px 45px 0px;
  border: solid 1px lightgray !important;
  border-radius: 5px;
}
.timesheetTitle {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* first row  */
.attributeRow {
  /* margin-left: 4%; */
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}
/* employee name */
.empNumContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 0 0 15px;
}

.tsDetail-empNumContainer {
  display: flex;
}

/* employee Number Title */
.empNumTitle {
  font-weight: bold;
}
/* Employee number */
.empNum {
  margin-left: 10px;
  float: left;
}

.sDetail-empNumContainer {
  display: flex;
}

.weekNumEndingIcon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekNumbEnd-container {
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
}

.tsDetail-iconContainer {
  margin: 0 15px 0 15px;
}

/* week number container */
.weekNumContainer {
  display: flex;
}
/* week number title */
.weekNumTitle {
  font-weight: bold;
  display: inline-block;
}
/* week number */
.weekNum {
  margin-left: 10px;
}
/* week ending container */
.weekEndContainer {
  display: flex;
}
/* week ending title */
.weekEndTitle {
  font-weight: bold;
}
/* week ending */
.weekEnd {
  margin-left: 10px;
}
/* second row */
.empNameAttribute {
  width: 93%;
  display: flex;
}
/* employee name title */
.empNameTitle {
  font-weight: bold;
}
/* employee name */
.empName {
  margin-left: 10px;
}

/* css for project code dropdown */
.projCode {
  width: 8rem;
}
/* css for wp id dropdown */
.wpId {
  width: 4rem;
}

.content-editable {
  /* font-size: 16px; */
}
