/* Author: Kang Wang
 * Version: 1
 * Desc: Timesheet Detail Css
 */

/* body css */
.container {
  /* box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.1), 0px 4px 5px 0px rgba(0,0,0,0.1), 0px 1px 10px 0px rgba(0,0,0,0.1); */
  background-color: white;
  width: 1000px;
  padding: 30px 0px 45px 0px;
  border: solid 1px lightgray;
  border-radius: 5px;
}
.timesheetTitle {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* first row  */
.attributeRow {
  /* margin-left: 4%; */
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empNumContainer {
  display: flex;
}

.empNumTitle {
  font-weight: bold;
}

.empNum {
  margin-left: 10px;
  float: left;
}

.weekNumContainer {
  display: flex;
}

.weekNumTitle {
  font-weight: bold;
  display: inline-block;
}

.weekNum {
  margin-left: 10px;
}

.weekEndContainer {
  display: flex;
}

.weekEndTitle {
  font-weight: bold;
}

.weekEnd {
    margin-left: 10px;
}
/* second row */
.empNameAttribute {
  width: 93%;
  display: flex;
}

.empNameTitle {
  font-weight: bold;
}
.empName {
  margin-left: 10px;
}