.btnProjects {
  width: 1100px !important;
  margin: 0 !important;
}

.buttonGroup {
  box-shadow: none !important;
}

.createButton {
  box-shadow: none !important;
}

.projectPageContainer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

/* Custom select button page */
.customSelectProject-container {
  padding: 0 35px 0 0;
}
