.projectDetailContainer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topMiddleContainer {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 35px;
  width:  1100px;
}

/******************
Top Info Container
******************/
.topInfoContainer {
  /* width: 1100px !important; */
  display: flex;
}

.gridBorder {
    flex-grow: 1;
  }

.projectDetail-projectTitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.projectDetail-projectDescription {
  font-size: 16px;
}

.projectDetail-teamInfoContainer {
  display: flex;
  flex-direction: column;
}

.projectDetail-projectManagerContainer {
  display: flex;
    align-items: center;
    margin: 0 0 5px 0;
}

.projectDetail-projectManager {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
  }

  .projectDetailMargin {
      margin: 0 10px 0 0;
  }
  
  .projectDetail-projectManager-name {
    font-size: 16px;
  }

  .projectDetail-teamMemberInfoContainer {
      display: flex;
      align-items: center;
  }

  .projectDetail-teamTitle {
      display: flex;
      align-items: center;
      width: 150px;
    font-size: 16px;
    font-weight: bold;
  }

  .projectDetail-AvatarCircle {
      margin: 0 2px 0 2px;
  }

  .projectDetail-avatarInitials {
    font-size: 16px;
    font-weight: bold;
  }

/******************
Middle Info Container
******************/
.projectDetail-middleContainer {
  /* width: 1100px !important; */
  display: flex !important;
  align-items: center;
}

.projectDetail-bugetDateInfoContainer {
    flex-grow: 1;
}

.projectDetail-budgetContainer {
display: flex;
}

.projectDetail-budgetTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.projectDetail-budgetAmount {
    font-size: 16px;
}

.projectDetail-dateContainer {
    display: flex;
}

.projectDetail-startDateContainer {
    display: flex;
}

.projectDetail-startDateTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.projectDetail-startDate {
    font-size: 16px;
}
.projectDetail-endDateContainer {
    display: flex;
}

.projectDetail-endDateTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.projectDetail-endDate {
    font-size: 16px;
}

.projectDetail-createWPbuttonContainer {
    text-align: right;
    width: 250px;
}




/******************
???????????????????
******************/

.projectDetail-WPTableContainer {
    margin: 20px 0 0 0;
}

.WorkpackageListDT {
  width: 1100px;
  box-shadow: none !important;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.WorkpackageListDT{
    margin: 7%;
}

.PDWorkpackageTree {
  padding: 35px;
}


.projectDetail-treeContainer {
  width: 1100px;
}