.projectDetailContainer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wp-innerContainer {
  /* background-color: white; */
}

.topMiddleContainer {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 35px;
  width:  1100px;
}

/******************
Top Info Container
******************/
.topInfoContainer {
  /* width: 1100px !important; */
  display: flex;
}

.gridBorder {
    flex-grow: 1;
  }

.projectDetail-projectTitle {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.projectDetail-projectDescription {
  font-size: 16px;
}

.projectDetail-teamInfoContainer {
  display: flex;
  flex-direction: column;
}

.projectDetail-projectManagerContainer {
  display: flex;
    align-items: center;
    margin: 0 0 5px 0;
}

.projectDetail-projectManager {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
  }

  .projectDetailMargin {
      margin: 0 10px 0 0;
  }
  
  .projectDetail-projectManager-name {
    font-size: 16px;
  }

  .projectDetail-teamMemberInfoContainer {
      display: flex;
      align-items: center;
  }

  .projectDetail-teamTitle {
      display: flex;
      align-items: center;
      width: 150px;
    font-size: 16px;
    font-weight: bold;
  }

  .projectDetail-AvatarCircle {
      margin: 0 2px 0 2px;
  }

  .projectDetail-avatarInitials {
    font-size: 16px;
    font-weight: bold;
  }

/******************
Middle Info Container
******************/
.projectDetail-middleContainer {
  /* width: 1100px !important; */
  display: flex !important;
  align-items: center;
}

.projectDetail-bugetDateInfoContainer {
    flex-grow: 1;
}

.projectDetail-budgetContainer {
display: flex;
}

.projectDetail-budgetTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.projectDetail-budgetAmount {
    font-size: 16px;
}

.projectDetail-dateContainer {
    display: flex;
}

.projectDetail-startDateContainer {
    display: flex;
}

.projectDetail-startDateTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.projectDetail-startDate {
    font-size: 16px;
}
.projectDetail-endDateContainer {
    display: flex;
}

.projectDetail-endDateTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.projectDetail-endDate {
    font-size: 16px;
}

.projectDetail-createWPbuttonContainer {
    text-align: right;
    width: 250px;
}




/******************
???????????????????
******************/

.projectDetail-WPTableContainer {
    margin: 20px 0 0 0;
}

.WorkpackageListDT {
  width: 1100px;
  box-shadow: none !important;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.WorkpackageListDT{
    margin: 7%;
}

.PDWorkpackageTree {
  padding: 35px;
}


.projectDetail-treeContainer {
  width: 1100px;
}

/**********************************
 WORK PACKAGE DETAIL CSS 
 *********************************/

 .wpDetail-top-container {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 35px;
  width:  1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.wpDetail-projTitleDesc-container {
  display: flex;
  flex-direction: column;
}

 .wpDetail-projectTitle {
   font-size: 16px;
   font-weight: bold;
 }

 .wpDetail-teamMemberAvatar-container {
   display: flex;
}

.wpDetail-teamInfo-container {
  width: 480px;
  display: flex;
  flex-direction: column;
}

.wpDetail-REInfo {
  display: flex;
  align-items: center;
}

 .wpDetail-RE-title {
   width: 180px;
   font-size: 16px;
   font-weight: bold;
 }

 .wpDetail-avatar-container {
   margin: 0 0 0 10px;
 }

 .wpDetail-RE-name-container {
   margin: 0 0 0 10px;
 }

 .wpDetail-teamTitle {
   width: 180px;
   font-size: 16px;
   font-weight: bold;
 }

 .wpDetail-avatar-container {
   margin: 0 0 0 5px;
 }

 .wpDetail-teamTitleAvatar-container {
   width: 480px;
   display: flex;
   align-items: center;
   margin: 5px 0 0 0;
 }

/**********************************
 WORK PACKAGE TREE CSS 
 *********************************/

 .wpTree-expandIcon {
   font-size: 30px !important;
 }

 .wpTree-chevronRightIcon {
  font-size: 30px !important;
 }

 .wpDetail-newPlan-container {
   display: flex;
   justify-content: flex-end;
   padding: 30px 0 60px 0;
 }