
.otherRow {
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.rowType {
    width: 65px;
    float: left;
    font-weight: bold;
    letter-spacing: -0.04em;
    
}

.tot {
    margin-left: 8.5%;
}