.hrPortal-container{
    width: 1300px;
    display: flex;
    justify-content: center;
}

.hrPortal-datatable {
    width: 1100px;
    box-shadow: none !important;
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 25px;
}

.hrPortal-title {
    font-size: 16px;
    font-weight: bold;
}