@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;1,800&display=swap');

/* Container Of All Login Information */
.login-container {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 500px;
    border-radius: 1%;
    padding: 40px;
    padding-bottom: 110px;
    box-shadow: 0 6px 2px -2px rgba(0,0,0,0.22);
    border: solid lightgray 1px;
}

/* Login Text and Image */
.loginText {
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1.4em;
    letter-spacing: .8px;
}

.login-logo {
    height: 1.5em;
}

.text-title {
    padding-left: 20px;
}

.lowercaseText {
    /* font-size: 22px; */
    font-weight: 900;
    text-transform: lowercase;
}

/* Input Field Information */
.inputFields {
    width: 100% !important;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.9em;
}

.textfields {
    width: 100% !important;
}

/* Button Information */
.button-container {
    text-align: center;
}

.loginButton {
    width: 100% !important;
    text-transform: uppercase;
    margin-top: 3em !important;
}